<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mis Instagram Reels</title>
    <link rel="stylesheet" href="/static/css/styleAdvertising.css" />
  </head>
  <body>
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div id="app">
      <img class="logo" src="/images/logo.png" alt="logo de la empresa" />
      <div class="instagram-reels-feed" id="instagram-reels-feed"></div>
    </div>

    <script src="/static/jss/socialMedia.js"></script>
  </body>
</html>
